---
layout: default
---


<form class="search-form" action="http://www.google.com/search" method="get">
      <input type="search" name="q" placeholder="Search the blog" autofocus>
      <input type="hidden" name="sitesearch" value="blog.techack.net">
    </form>

<ul class="posts">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <li><a href="{{site.baseurl}}{{ post.url }}"><span class="title">{{ post.title }}</span></a><br>
    <span class="date"> - {{post.date| date: "%b %Y"}}</span><br>
    <span class="excerpt">{{ post.content | strip_html | truncatewords:50 }}</span><br>
    </li>
  {% endunless %}
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
  {% endif %}
</div>
